In [8]:
import pandas as pd 
import numpy as np

In [56]:
df = pd.read_csv('acidentes2007-2020.csv')

/home/kaio-peixoto/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (6,7,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [57]:
df.isna().sum()

Unnamed: 0                      0
id                              0
id_unico                        0
dia_semana                      0
horario                         0
uf                              0
br                            513
km                            513
municipio                       0
causa_acidente                  0
tipo_acidente                  12
classificacao_acidente         24
fase_dia                        1
sentido_via                     0
condicao_metereologica          3
tipo_pista                     10
tracado_via                     0
uso_solo                        0
pessoas                         0
mortos                          0
feridos_leves                   0
feridos_graves                  0
ilesos                          0
ignorados                       0
feridos                         0
veiculos                        0
latitude                  1562165
longitude                 1562165
regional                  1562165
delegacia                 1562165
uop                       1567370
dtype: int64

In [65]:
df.dropna(0)

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
1562165,1562165,8,82017-01-01,domingo,00:00:00,PR,376,112,PARANAVAI,fenômenos da natureza,...,1,0,0,1,1,-23.0988,-52.3879,SR-PR,DEL7/7,UOP05/PR
1562166,1562166,9,92017-01-01,domingo,00:01:00,SC,101,234,PALHOCA,falta de atenção à condução,...,0,1,0,0,1,-27.8101,-48.6357,SR-SC,DEL8/1,UOP02/SC
1562167,1562167,11,112017-01-01,domingo,00:00:00,PR,153,56.9,SANTO ANTONIO DA PLATINA,animais na pista,...,0,0,0,2,1,-23.3695,309.935,SR-PR,DEL7/7,UOP07/PR
1562168,1562168,12,122017-01-01,domingo,00:00:00,GO,153,435,ANAPOLIS,avarias ou desgaste excessivo no pneu,...,1,0,0,1,1,-16.2747,-48.9691,SR-GO,DEL1/2,UOP01/GO
1562169,1562169,13,132017-01-01,domingo,00:00:00,SC,280,77.3,CORUPA,ingestão de álcool,...,0,0,0,1,1,-26.4468,-49.2017,SR-SC,DEL8/6,UOP03/SC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851860,1851860,352276,3522762020-11-27,sexta,20:30:00,ES,101,287,CARIACICA,falta de atenção à condução,...,1,1,0,1,2,"-20,26493528","-40,38471702",SR-ES,UOP01,DEL01
1851861,1851861,352308,3523082020-12-18,sexta,03:20:00,RO,364,1071,PORTO VELHO,desobediência ã s normas de trânsito pelo cond...,...,0,0,0,1,2,"-9,75228555","-66,61517143",SR-RO,UOP04,DEL01
1851862,1851862,352311,3523112020-08-15,sábado,18:30:00,RS,116,156.6,CAXIAS DO SUL,desobediência ã s normas de trânsito pelo cond...,...,0,1,2,1,2,"-29,20731013","-51,17757864",SR-RS,UOP01,DEL05
1851863,1851863,352395,3523952020-12-30,quarta,11:00:00,PI,343,20,PARNAIBA,falta de atenção à condução,...,0,1,0,1,2,"-2,981128","-41,762501",SR-PI,UOP01,DEL05
1851864,1851864,352488,3524882020-12-31,quinta,08:00:00,MA,135,95,ITAPECURU MIRIM,falta de atenção à condução,...,0,0,1,1,2,"-3,3279719","-44,44236412",SR-MA,UOP02,DEL01

In [35]:
def criar_tabela(dimensao, nome):
    dim = pd.DataFrame(df[dimensao].unique())
    dim = dim.reset_index().rename(columns={'index':f'ID_{nome}', 0:f'Desc_{nome}'})
    
    return dim

In [46]:
df['horario'] = df['horario'].str[:2]

In [52]:
criar_tabela('condicao_metereologica', 'cm')#.to_csv('dim_'.csv, index=False)

    ID_cm           Desc_cm
0       0         Céu Claro
1       1             Chuva
2       2           Nublado
3       3               Sol
4       4  Nevoeiro/Neblina
5       5          Ignorada
6       6             Vento
7       7           Granizo
8       8            (null)
9       9              Neve
10     10               NaN
11     11    Garoa/Chuvisco

In [7]:
df[df['uf']=='BA']['municipio'].value_counts().head(10)

FEIRA DE SANTANA          13074
SALVADOR                   6817
VITORIA DA CONQUISTA       5820
EUNAPOLIS                  3479
SAO SEBASTIAO DO PASSE     3050
SIMOES FILHO               2837
CANDEIAS                   2602
AMELIA RODRIGUES           2595
BARREIRAS                  2237
JEQUIE                     2218
Name: municipio, dtype: int64