### Importando bibliotecas a serem utilizadas

In [40]:
import os
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from time import sleep

### Leitura do arquivo

In [41]:
df = pd.read_csv('acidentes2007-2020.tar.xz', compression='xz', usecols=[
    'id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br', 'km', 'municipio', 
    'causa_acidente', 'tipo_acidente', 'classificacao_acidente', 'fase_dia', 
    'sentido_via', 'condicao_metereologica', 'tipo_pista', 'tracado_via', 
    'uso_solo', 'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos', 
    'ignorados', 'feridos', 'veiculos'], dtype={'br': 'str', 'km': 'str'})

In [42]:
df.columns

Index(['id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos'],
      dtype='object')

In [43]:
df.head()

,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,tracado_via,uso_solo,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
0,10.0,102007-06-11,segunda,15:30:00,MG,381,623.2,OLIVEIRA,falta de atenção,Colisão Frontal,...,Reta,Rural,9.0,0.0,4.0,0.0,5.0,0.0,4.0,6.0
1,1032898.0,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,Saída de Pista,...,Reta,Rural,3.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0
2,1051130.0,10511302007-02-12,segunda,02:10:00,MA,135,11.0,SAO LUIS,animais na pista,Atropelamento de Animal,...,Reta,Urbano,5.0,2.0,2.0,1.0,0.0,0.0,3.0,1.0
3,1066824.0,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,Capotamento,...,Reta,Rural,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
4,1069918.0,10699182007-12-16,domingo,17:40:00,MA,230,14.0,BARAO DE GRAJAU,outras,Capotamento,...,Curva,Rural,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0

#### Checando o tamanho da nossa base

In [44]:
print(f'Nossa base de dados tem {df.shape[0]} linhas e {df.shape[1]} colunas.')

Nossa base de dados tem 1851866 linhas e 25 colunas.

### Conhecendo tipos de dados de cada coluna da nossa base

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851866 entries, 0 to 1851865
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id                      float64
 1   id_unico                object
 2   dia_semana              object
 3   horario                 object
 4   uf                      object
 5   br                      object
 6   km                      object
 7   municipio               object
 8   causa_acidente          object
 9   tipo_acidente           object
 10  classificacao_acidente  object
 11  fase_dia                object
 12  sentido_via             object
 13  condicao_metereologica  object
 14  tipo_pista              object
 15  tracado_via             object
 16  uso_solo                object
 17  pessoas                 float64
 18  mortos                  float64
 19  feridos_leves           float64
 20  feridos_graves          float64
 21  ilesos                  float64
 22  ignorados               float64
 23  feridos                 float64
 24  veiculos                float64
dtypes: float64(9), object(16)
memory usage: 353.2+ MB

### Vamos checar quantos e onde estão os valores nulos

In [46]:
df.isna().sum()

id                          1
id_unico                    1
dia_semana                  1
horario                     1
uf                          1
br                        514
km                        514
municipio                   1
causa_acidente              1
tipo_acidente              13
classificacao_acidente     25
fase_dia                    2
sentido_via                 1
condicao_metereologica      4
tipo_pista                 11
tracado_via                 1
uso_solo                    1
pessoas                     1
mortos                      1
feridos_leves               1
feridos_graves              1
ilesos                      1
ignorados                   1
feridos                     1
veiculos                    1
dtype: int64

---

**No código abaixo vamos excluir as linhas de colunas que tiveram alguns valores nulos**

In [47]:
df.dropna(subset=['br', 'km', 'tipo_acidente', 'classificacao_acidente', 
                  'fase_dia', 'condicao_metereologica', 'tipo_pista'], axis=0, inplace=True)

**Como ficou nossa base**

In [48]:
df.head()

,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,tracado_via,uso_solo,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
1,1032898.0,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,Saída de Pista,...,Reta,Rural,3.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0
2,1051130.0,10511302007-02-12,segunda,02:10:00,MA,135,11.0,SAO LUIS,animais na pista,Atropelamento de Animal,...,Reta,Urbano,5.0,2.0,2.0,1.0,0.0,0.0,3.0,1.0
3,1066824.0,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,Capotamento,...,Reta,Rural,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
4,1069918.0,10699182007-12-16,domingo,17:40:00,MA,230,14.0,BARAO DE GRAJAU,outras,Capotamento,...,Curva,Rural,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
5,1070971.0,10709712007-03-05,segunda,08:10:00,PR,277,584.4,CASCAVEL,outras,Colisão Lateral,...,Curva,Urbano,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0

In [49]:
print(f'Agora nossa base tem {df.shape[0]} linhas e {df.shape[1]} colunas')

Agora nossa base tem 1851304 linhas e 25 colunas

**Vejamos novamente como está a qualidade das colunas da nossa base**

In [50]:
df.isna().sum()

id                        0
id_unico                  0
dia_semana                0
horario                   0
uf                        0
br                        0
km                        0
municipio                 0
causa_acidente            0
tipo_acidente             0
classificacao_acidente    0
fase_dia                  0
sentido_via               0
condicao_metereologica    0
tipo_pista                0
tracado_via               0
uso_solo                  0
pessoas                   0
mortos                    0
feridos_leves             0
feridos_graves            0
ilesos                    0
ignorados                 0
feridos                   0
veiculos                  0
dtype: int64

Já que excluímos várias linhas da base original, vamos zerar os índice do nosso dataframe

In [51]:
df.reset_index(inplace=True, drop=True)

>Agora sim, todas colunas com valores válidos e nossa base está pronta para a modelagem

**Aqui vemos que nossa base está arrumada e com o índice zerado**

In [52]:
df.head()

,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,tracado_via,uso_solo,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
0,1032898.0,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,Saída de Pista,...,Reta,Rural,3.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0
1,1051130.0,10511302007-02-12,segunda,02:10:00,MA,135,11.0,SAO LUIS,animais na pista,Atropelamento de Animal,...,Reta,Urbano,5.0,2.0,2.0,1.0,0.0,0.0,3.0,1.0
2,1066824.0,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,Capotamento,...,Reta,Rural,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,1069918.0,10699182007-12-16,domingo,17:40:00,MA,230,14.0,BARAO DE GRAJAU,outras,Capotamento,...,Curva,Rural,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
4,1070971.0,10709712007-03-05,segunda,08:10:00,PR,277,584.4,CASCAVEL,outras,Colisão Lateral,...,Curva,Urbano,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0

In [76]:
# recriando a coluna município para que o mapa do Power BI localize com mais facilidade
df['ID_mun'] = df['ID_mun'] + ',' + ' ' + df['ID_uf'] + ', Brazil'

In [ ]:
df['ID_mun'].to_sql(f'd_{coluna[3:]}', con=con, index=False, if_exists='append')

In [77]:
df

,id,id_unico,ID_dia,ID_hora,ID_uf,ID_br,ID_km,ID_mun,ID_causa,ID_tipo,...,ID_solo,Total_pessoas,Total_mortos,Total_feridos_leves,Total_feridos_graves,Total_ilesos,Total_ignorados,Total_feridos,Total_veiculos,data
0,1032898.0,10328982007-08-13,segunda,14:00-15:00,MG,40,585.5,"ITABIRITO, MG, Brazil",outras,Saída de Pista,...,Rural,3.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,2007-08-13
1,1051130.0,10511302007-02-12,segunda,02:00-03:00,MA,135,11.0,"SAO LUIS, MA, Brazil",animais na pista,Atropelamento de Animal,...,Urbano,5.0,2.0,2.0,1.0,0.0,0.0,3.0,1.0,2007-02-12
2,1066824.0,10668242007-11-20,terça,05:00-06:00,CE,222,30.8,"CAUCAIA, CE, Brazil",defeito mecânico no veículo,Capotamento,...,Rural,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,2007-11-20
3,1069918.0,10699182007-12-16,domingo,17:00-18:00,MA,230,14.0,"BARAO DE GRAJAU, MA, Brazil",outras,Capotamento,...,Rural,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,2007-12-16
4,1070971.0,10709712007-03-05,segunda,08:00-09:00,PR,277,584.4,"CASCAVEL, PR, Brazil",outras,Colisão Lateral,...,Urbano,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,2007-03-05

Extraindo a data da coluna id_unico e criando uma coluna especifica para data

In [53]:
df['data'] = pd.to_datetime(df['id_unico'].apply(lambda x: x[::-1][:10][::-1]))

### Modelagem para banco de dados

Listando as colunas

In [55]:
df.columns

Index(['id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'data'],
      dtype='object')

**Como a coluna horário se trata de uma categoria para a nossa análise, vamos extrair somente a faixa de hora**

Dessa forma será possível classificar acidentes por faixa de hora.

Aplicaremos uma função lambda para este fim e depois mapearemos cada hora para sua devida faixa

In [56]:
df['horario'] = df['horario'].apply(lambda x: x[:2])

In [57]:
df['horario'] = df['horario'].map({
    '01': '01:00-02:00',
    '02': '02:00-03:00',
    '03': '03:00-04:00',
    '04': '04:00-05:00',
    '05': '05:00-06:00',
    '06': '06:00-07:00',
    '07': '07:00-08:00',
    '08': '08:00-09:00',
    '09': '09:00-10:00',
    '10': '10:00-11:00',
    '11': '11:00-12:00',
    '12': '12:00-13:00',
    '13': '13:00-14:00',
    '14': '14:00-15:00',
    '15': '15:00-16:00',
    '16': '16:00-17:00',
    '17': '17:00-18:00',
    '18': '18:00-19:00',
    '19': '19:00-20:00',
    '20': '20:00-21:00',
    '21': '21:00-22:00',
    '22': '22:00-23:00',
    '23': '23:00-00:00',
    '00': '00:00-01:00',
})

In [58]:
df.columns

Index(['id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'data'],
      dtype='object')

In [59]:
df.rename(columns={
    'dia_semana': 'ID_dia',
    'horario': 'ID_hora',
    'uf': 'ID_uf',
    'br': 'ID_br',
    'km': 'ID_km',
    'municipio': 'ID_mun',
    'causa_acidente': 'ID_causa',
    'tipo_acidente': 'ID_tipo',
    'classificacao_acidente': 'ID_class',
    'fase_dia': 'ID_fase_dia',
    'sentido_via': 'ID_sentido',
    'condicao_metereologica': 'ID_condicao',
    'tipo_pista': 'ID_pista',
    'tracado_via': 'ID_tracado',
    'uso_solo': 'ID_solo',
    'pessoas': 'Total_pessoas',
    'mortos': 'Total_mortos',
    'feridos_leves': 'Total_feridos_leves',
    'feridos_graves': 'Total_feridos_graves',
    'ilesos': 'Total_ilesos',
    'ignorados': 'Total_ignorados',
    'feridos': 'Total_feridos',
    'veiculos': 'Total_veiculos'
}, inplace=True)

### Criando tabelas dimensão, fato e salvando-as no banco

In [60]:
# criando conexão ao banco de dados
con = create_engine('postgresql://postgres:25123436@localhost:5432/postgres')

**Tabelas dimensão**

In [84]:
# colunas que serão utilizadas para tabela dimensão
campos = [
    'ID_dia', 'ID_hora', 'ID_uf', 'ID_br',
    'ID_km', 'ID_mun', 'ID_causa', 'ID_tipo', 
    'ID_class', 'ID_fase_dia', 'ID_sentido', 
    'ID_condicao', 'ID_pista', 'ID_tracado', 'ID_solo'
         ]

DataFrame que contém somente as colunas referentes às tabela dimensão

In [85]:
df_dim = df[campos].copy()

**Código para transformar colunas dimensão em tabelas e já salvar para o banco**

In [86]:
def criar_dim(coluna, salva=False):
    unicos = df_dim[coluna].unique().copy()
    tabela_dim = pd.DataFrame({f'ID_{coluna[3:]}':range(1, len(unicos)+1), 'descr':unicos})
    if salva:
        tabela_dim.to_sql(f'd_{coluna[3:]}', con=con, index=False, if_exists='replace')
    
    return tabela_dim

In [88]:
criar_dim('ID_mun', True)

      ID_mun                        descr
0          1        ITABIRITO, MG, Brazil
1          2         SAO LUIS, MA, Brazil
2          3          CAUCAIA, CE, Brazil
3          4  BARAO DE GRAJAU, MA, Brazil
4          5         CASCAVEL, PR, Brazil
...      ...                          ...
2359    2360        VICENTINA, MS, Brazil
2360    2361    FATIMA DO SUL, MS, Brazil
2361    2362         IVINHEMA, MS, Brazil
2362    2363         OLIVEDOS, PB, Brazil
2363    2364      CASTANHEIRA, MT, Brazil

[2364 rows x 2 columns]

In [64]:
campos

['ID_dia',
 'ID_hora',
 'ID_uf',
 'ID_br',
 'ID_km',
 'ID_mun',
 'ID_causa',
 'ID_tipo',
 'ID_class',
 'ID_fase_dia',
 'ID_sentido',
 'ID_condicao',
 'ID_pista',
 'ID_tracado',
 'ID_solo']

**Aqui vamos criar um laço que vai percorrer por toda a lista acima e criar as tabelas no banco uma a uma**

In [74]:
for dimensao in campos:
    criar_dim(dimensao, True)
    sleep(2)

----

**Tabela fato**

In [65]:
df.columns

Index(['id', 'id_unico', 'ID_dia', 'ID_hora', 'ID_uf', 'ID_br', 'ID_km',
       'ID_mun', 'ID_causa', 'ID_tipo', 'ID_class', 'ID_fase_dia',
       'ID_sentido', 'ID_condicao', 'ID_pista', 'ID_tracado', 'ID_solo',
       'Total_pessoas', 'Total_mortos', 'Total_feridos_leves',
       'Total_feridos_graves', 'Total_ilesos', 'Total_ignorados',
       'Total_feridos', 'Total_veiculos', 'data'],
      dtype='object')

In [66]:
df_fato = df[df.columns[1:]].copy()

In [27]:
df_fato.columns

Index(['id_unico', 'ID_dia', 'ID_hora', 'ID_uf', 'ID_br', 'ID_km', 'ID_mun',
       'ID_causa', 'ID_tipo', 'ID_class', 'ID_fase_dia', 'ID_sentido',
       'ID_condicao', 'ID_pista', 'ID_tracado', 'ID_solo', 'Total_pessoas',
       'Total_mortos', 'Total_feridos_leves', 'Total_feridos_graves',
       'Total_ilesos', 'Total_ignorados', 'Total_feridos', 'Total_veiculos',
       'data'],
      dtype='object')

Reordenando colunas

In [28]:
ordem_colunas = [
    'id_unico', 'data', 'ID_dia', 'ID_hora', 'ID_uf', 'ID_br', 
    'ID_km', 'ID_mun', 'ID_causa', 'ID_tipo', 'ID_class', 
    'ID_fase_dia', 'ID_sentido', 'ID_condicao', 'ID_pista', 
    'ID_tracado', 'ID_solo', 'Total_pessoas', 'Total_mortos', 
    'Total_feridos_leves', 'Total_feridos_graves', 'Total_ilesos', 
    'Total_ignorados', 'Total_feridos', 'Total_veiculos']

In [29]:
df_fato = df_fato[ordem_colunas].copy()

**Agora vamos mapear para que as colunas da tabela fato contenham os ids e não as descrições dos campos de dimensões**

In [30]:
def mapear_dim_fato(dim):
    dimensao = criar_dim(dim)
    mapa_base = dict(zip(dimensao[dim].to_list(), dimensao['descr'].to_list()))
    mapa = {value: key for (key, value) in  mapa_base.items()}
    
    return mapa

In [31]:
df_fato

,id_unico,data,ID_dia,ID_hora,ID_uf,ID_br,ID_km,ID_mun,ID_causa,ID_tipo,...,ID_tracado,ID_solo,Total_pessoas,Total_mortos,Total_feridos_leves,Total_feridos_graves,Total_ilesos,Total_ignorados,Total_feridos,Total_veiculos
0,10328982007-08-13,2007-08-13,segunda,14:00-15:00,MG,40,585.5,ITABIRITO,outras,Saída de Pista,...,Reta,Rural,3.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0
1,10511302007-02-12,2007-02-12,segunda,02:00-03:00,MA,135,11.0,SAO LUIS,animais na pista,Atropelamento de Animal,...,Reta,Urbano,5.0,2.0,2.0,1.0,0.0,0.0,3.0,1.0
2,10668242007-11-20,2007-11-20,terça,05:00-06:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,Capotamento,...,Reta,Rural,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,10699182007-12-16,2007-12-16,domingo,17:00-18:00,MA,230,14.0,BARAO DE GRAJAU,outras,Capotamento,...,Curva,Rural,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
4,10709712007-03-05,2007-03-05,segunda,08:00-09:00,PR,277,584.4,CASCAVEL,outras,Colisão Lateral,...,Curva,Urbano,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851299,3522762020-11-27,2020-11-27,sexta,20:00-21:00,ES,101.0,287.0,CARIACICA,falta de atenção à condução,Colisão Lateral,...,Reta,Não,2.0,0.0,0.0,1.0,1.0,0.0,1.0,2.0
1851300,3523082020-12-18,2020-12-18,sexta,03:00-04:00,RO,364.0,1071.0,PORTO VELHO,desobediência ã s normas de trânsito pelo cond...,Colisão Frontal,...,Reta,Sim,2.0,1.0,1.0,0.0,0.0,0.0,1.0,2.0
1851301,3523112020-08-15,2020-08-15,sábado,18:00-19:00,RS,116.0,156.6,CAXIAS DO SUL,desobediência ã s normas de trânsito pelo cond...,Colisão Lateral,...,Curva,Não,4.0,0.0,1.0,0.0,1.0,2.0,1.0,2.0
1851302,3523952020-12-30,2020-12-30,quarta,11:00-12:00,PI,343.0,20.0,PARNAIBA,falta de atenção à condução,Colisão Transversal,...,Reta,Não,2.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0
1851303,3524882020-12-31,2020-12-31,quinta,08:00-09:00,MA,135.0,95.0,ITAPECURU MIRIM,falta de atenção à condução,Colisão Lateral,...,Interseção de vias,Não,2.0,0.0,1.0,0.0,0.0,1.0,1.0,2.0

Fazendo um loop para percorrer todas as colunas da tabela fato

In [32]:
for col in df_fato.columns[2:17]:
    df_fato[col] = df_fato[col].map(mapear_dim_fato(col))

**Salvando para um banco de dados**

In [33]:
df_fato.head()

,id_unico,data,ID_dia,ID_hora,ID_uf,ID_br,ID_km,ID_mun,ID_causa,ID_tipo,...,ID_tracado,ID_solo,Total_pessoas,Total_mortos,Total_feridos_leves,Total_feridos_graves,Total_ilesos,Total_ignorados,Total_feridos,Total_veiculos
0,10328982007-08-13,2007-08-13,1,1,1,1,1,1,1,1,...,1,1,3.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0
1,10511302007-02-12,2007-02-12,1,2,2,2,2,2,2,2,...,1,2,5.0,2.0,2.0,1.0,0.0,0.0,3.0,1.0
2,10668242007-11-20,2007-11-20,2,3,3,3,3,3,3,3,...,1,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,10699182007-12-16,2007-12-16,3,4,2,4,4,4,1,3,...,2,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
4,10709712007-03-05,2007-03-05,1,5,4,5,5,5,1,4,...,2,2,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0

In [34]:
#df_fato.to_sql('d_fato', con=con, index=False, if_exists='append')

In [35]:
df.columns

Index(['id', 'id_unico', 'ID_dia', 'ID_hora', 'ID_uf', 'ID_br', 'ID_km',
       'ID_mun', 'ID_causa', 'ID_tipo', 'ID_class', 'ID_fase_dia',
       'ID_sentido', 'ID_condicao', 'ID_pista', 'ID_tracado', 'ID_solo',
       'Total_pessoas', 'Total_mortos', 'Total_feridos_leves',
       'Total_feridos_graves', 'Total_ilesos', 'Total_ignorados',
       'Total_feridos', 'Total_veiculos', 'data'],
      dtype='object')

In [ ]:
acidentes fatais
vitimas fatais
vitimas nao fatais



total de acidentes

In [39]:
df.columns

Index(['id', 'id_unico', 'ID_dia', 'ID_hora', 'ID_uf', 'ID_br', 'ID_km',
       'ID_mun', 'ID_causa', 'ID_tipo', 'ID_class', 'ID_fase_dia',
       'ID_sentido', 'ID_condicao', 'ID_pista', 'ID_tracado', 'ID_solo',
       'Total_pessoas', 'Total_mortos', 'Total_feridos_leves',
       'Total_feridos_graves', 'Total_ilesos', 'Total_ignorados',
       'Total_feridos', 'Total_veiculos', 'data'],
      dtype='object')

## Registro de Homologação

In [89]:
# contagem dos registros
df_fato.shape[0]

1851304

In [105]:
# acidentes área urbana
df[df['ID_solo'].isin(['Urbano', 'Rural'])]['ID_solo'].value_counts()

Urbano    814692
Rural     747435
Name: ID_solo, dtype: int64

## Acidentes por dia da semana

In [108]:
df['ID_dia'].value_counts()

sexta      299062
sábado     291150
domingo    278543
segunda    254168
quinta     252339
quarta     241798
terça      234244
Name: ID_dia, dtype: int64

## Acidentes por faixa hora

In [109]:
df['ID_hora'].value_counts()

18:00-19:00    142476
17:00-18:00    126110
16:00-17:00    115026
19:00-20:00    111848
15:00-16:00    106427
07:00-08:00    103345
14:00-15:00     96445
08:00-09:00     95136
11:00-12:00     88070
10:00-11:00     86329
09:00-10:00     86115
13:00-14:00     83138
20:00-21:00     79009
12:00-13:00     78184
06:00-07:00     70910
21:00-22:00     67474
22:00-23:00     59477
05:00-06:00     49345
23:00-00:00     48230
00:00-01:00     36413
04:00-05:00     36100
01:00-02:00     30496
03:00-04:00     28200
02:00-03:00     27001
Name: ID_hora, dtype: int64